*{
    margin: 0;
    pad: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;
}

#navbar{
    background-color: #FFFFFF;
    height: 70px;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    box-shadow: 4px 4px 3px #888888;
    z-index: 1000;
    
    
}
#innavbar{
    
    
    width: 1100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    margin-top: 10px;
    display: flex;
    color: white;
    border: 3px solid black;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
#logo h2{
    color: #ff4545;
    padding: 0px 5px 0px 5px;
}
#navbarfunction{
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    
    margin-top: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 630px;
    
}
#navbarfunction li{
    height: 50px;  
}
#navbarfunction> li:hover> a{
    color: #ff4545; 
}
#navbarfunction a{
    color: #222;
    font-size: 18px;
    display: inline-block;
    transition: all 300ms;
    
}
#basket{
    height: 20px;
    width: 25px;
    margin-right: 20px;
}
#basket a{
    height: 20px;
    width: 25px;
}
#basket a img{
    height: 20px;
    width: 25px;
}
#shopbottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    left: -470px;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
    width: 1100px;
    height: 300px;
    list-style-type: none;
}
#shopimgcizgi {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}
#shopimgcizgi img {
    
    width: 300px;
    height: 250px;
}
#shoplayout{
    margin-top: -30px;
    display: flex;
    justify-content:flex-end
}
#shoplayout a{
    color: black;
}
#shoplayout ul{
    list-style-type: none;
    margin-top: -10px;
}
#shoplayout ul li a{
    color: #828282 ;
}
#shoplayout ul li a{
    transition: all 300ms;
}
#shoplayout ul h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #3a3b3c;
}
#shoplayoutinendul1{
    margin-right: 60px;
}
#shoplayoutinendul2{
    margin-right: 60px;
}
#shoplayoutinendul3{
    margin-right: 90px;
}
#shop:hover a i {
    transition: all 300ms;
}
#shop:hover a i {
    transform: rotate(180deg);
}
#shop:hover #shopbottomul {
    visibility: visible;
    top: 55px;
    opacity: 1;
    transition: all 300ms;
    
}
#shoplayout ul li a:hover  {
    color: #ff4545  ;
}
#vendorsbottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    height: 100px;
    width: 253px;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
#vendorsbottomul li a{
    color: #3a3b3c ;
    margin-top: 20px;
    margin-left: -30px;
    transition: all 300ms;
}
#vendorsbottomul li a:hover{
    color: #ff4545 ;

}
#vendor:hover #vendorsbottomul{
    visibility: visible;
    top: 55px;
    opacity: 1;
    transition: all 300ms;
}
#vendor:hover a i {
    transition: all 300ms;
}
#vendor:hover a i {
    transform: rotate(180deg);
}
/*  */
#pagebottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    height: 100px;
    width:138px;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
#pagebottomul li a{
    color: #3a3b3c ;
    margin-top: 20px;
    margin-left: -30px;
    transition: all 300ms;
}
#pagebottomul li a:hover{
    color: #ff4545 ;

}
#page:hover #pagebottomul{
    visibility: visible;
    opacity: 1;
    top: 55px;
    transition: all 300ms;
}
#page:hover a i {
    transition: all 300ms;
}
#page:hover a i {
    transform: rotate(180deg);
}
/**********************************************/
#middlesection{
    padding-top: 100px;
}
#middlesection ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#leftli{
    height: 450px;
    width: 487px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftdiv{
    height: 396px;
    width: 430px;
    border: 1px solid #828282;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftdiv img{
    height: 390px;
    width: 427px;

}
#rightli{
    width: 584px;
    height: 570px;
}
#rightdiv{

    width: 584px;
    height: 460px;
}
#rightdiv p{
    color: #222;
}
#rightdiv h1{
    font-size: 40px;
    color: #222;
}
#rightdiv span{
    font-size: 25px;
    color: #ff4545;
}
#rightdiv select{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    outline: 0;
    border: 1px solid #222;
    font-size: 18px;
    
}
#rightdiv h3{
    color:#222 ;
}
#rightdiv label a{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #ff4545;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}
#rightdiv label a:hover{
    transition: all 300ms;
    background-color: #3a3b3c;
}
#rightdiv label input{
    width: 40px;
    height: 30px;
    border: 1px solid #222;
    outline: 0;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*******************************/
#last{
    height: 400px;
    background-color: #222222;
}
#last ul{
    list-style-type: none;
}
#last ul ul{
    list-style-type: none;
}
#firstli ul li{
    display: flex;
    flex-direction: column;
}
#firstli ul li{
    margin: 15px 0px 15px 0px;
}
#firstli ul li a{
    color: white;
    font-size: 17px;
}
#secondli ul li{
    display: flex;
    flex-direction: column;
}
#secondli ul li{
    margin: 15px 0px 15px 0px;
}
#secondli ul li a{
    color: white;
    font-size: 17px;
}
#threethli ul li{
    display: flex;
    flex-direction: column;
}
#threethli ul li a{
    color: white;
    font-size: 17px;
}
#threethli ul li{
    margin: 15px 0px 15px 0px;
}
#fourthli ul li{
    display: flex;
    flex-direction: column;
}
#fourthli ul li{
    margin: 15px 0px 15px 0px;
}
#fourthli ul li a{
    color: white;
    font-size: 17px;
}
#fourthli ul li p{
    color: white;
}
#last ul h2{
    color: white;
    font-size: 25px;
}
#last ul h2{
    border-left: 4px solid orange;
    padding-left: 10px;
}
#last> ul {
    display: flex;
    justify-content: space-around;
    
    
}
#last> ul {
    padding-top: 60px;
}
#last ul h2{
    margin-bottom: 20px;
}
/***********************************/
#firstli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#secondli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#threethli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#fourthli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}