*{
    margin: 0;
    pad: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;
}

#navbar{
    background-color: #FFFFFF;
    height: 70px;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    box-shadow: 4px 4px 3px #888888;
    z-index: 1000;
    
    
}
#innavbar{
    
    
    width: 1100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    margin-top: 10px;
    display: flex;
    color: white;
    border: 3px solid black;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
#logo h2{
    color: #ff4545;
    padding: 0px 5px 0px 5px;
}
#navbarfunction{
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    
    margin-top: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 630px;
    
}
#navbarfunction li{
    height: 50px;  
}
#navbarfunction> li:hover> a{
    color: #ff4545; 
}
#navbarfunction a{
    color: #222;
    font-size: 18px;
    display: inline-block;
    transition: all 300ms;
    
}
#basket{
    height: 20px;
    width: 25px;
    margin-right: 20px;
}
#basket a{
    height: 20px;
    width: 25px;
}
#basket a img{
    height: 20px;
    width: 25px;
}
#shopbottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    left: -470px;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
    width: 1100px;
    height: 300px;
    list-style-type: none;
}
#shopimgcizgi {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}
#shopimgcizgi img {
    
    width: 300px;
    height: 250px;
}
#shoplayout{
    margin-top: -30px;
    display: flex;
    justify-content:flex-end
}
#shoplayout a{
    color: black;
}
#shoplayout ul{
    list-style-type: none;
    margin-top: -10px;
}
#shoplayout ul li a{
    color: #828282 ;
}
#shoplayout ul li a{
    transition: all 300ms;
}
#shoplayout ul h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #3a3b3c;
}
#shoplayoutinendul1{
    margin-right: 60px;
}
#shoplayoutinendul2{
    margin-right: 60px;
}
#shoplayoutinendul3{
    margin-right: 90px;
}
#shop:hover a i {
    transition: all 300ms;
}
#shop:hover a i {
    transform: rotate(180deg);
}
#shop:hover #shopbottomul {
    visibility: visible;
    top: 55px;
    opacity: 1;
    transition: all 300ms;
    
}
#shoplayout ul li a:hover  {
    color: #ff4545  ;
}
#vendorsbottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    height: 100px;
    width: 253px;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
#vendorsbottomul li a{
    color: #3a3b3c ;
    margin-top: 20px;
    margin-left: -30px;
    transition: all 300ms;
}
#vendorsbottomul li a:hover{
    color: #ff4545 ;

}
#vendor:hover #vendorsbottomul{
    visibility: visible;
    top: 55px;
    opacity: 1;
    transition: all 300ms;
}
#vendor:hover a i {
    transition: all 300ms;
}
#vendor:hover a i {
    transform: rotate(180deg);
}
/*  */
#pagebottomul{
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    height: 100px;
    width:138px;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
#pagebottomul li a{
    color: #3a3b3c ;
    margin-top: 20px;
    margin-left: -30px;
    transition: all 300ms;
}
#pagebottomul li a:hover{
    color: #ff4545 ;

}
#page:hover #pagebottomul{
    visibility: visible;
    opacity: 1;
    top: 55px;
    transition: all 300ms;
}
#page:hover a i {
    transition: all 300ms;
}
#page:hover a i {
    transform: rotate(180deg);
}
/* main img */
#mainimgul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#mainimgright{
    height: 500px;
    width: 700px;
    background-color: #ff4545;
}
#mainimgright img{
    
    width: 700px;
    height: 500px;
    object-fit: cover;
    
}
 #mainimgleft{
    margin-left: -40px;
    width: 680px;
    height: 500px;
    background-color: #ff4545;
    display: flex;
    align-items: center;
    
} 
.same{
    color:white;

}
#mainimgbottomdivleft{
    margin-left: 100px;
}
#mainimgbottomdivleft h1{
    
    font-weight: bold;
    font-size: 50px;
}
#mainimgbottomdivleft p{
    margin-bottom: 10px;
}
#lookkolleksiya{
    
    transition: all 300ms;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
#lookkolleksiya:hover{
    background-color: white;
    color: #d44554;
}
/*  MIDDLE SECTION */
#middlesection{
    height: 2300px;
    background-color: #FFFFFF;
}
#shopcollectionsmaindiv{
    background-color: #FFFFFF;
    width: auto;
    height: 200px;
}
#shopcollectionsindiv{
    background-color: #FFFFFF;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#shopcollectionsindiv h1{
    font-size: 40px;
    font-weight: 600;
    color: #222;
}
#shopcollectionsindiv h3{
    font-weight: 500;
    margin-top: 20px;
    color: #828282;
}
#shopcollectionbottomimg{
    
    height: 400px;
}
#shopcollectionbottomimgindiv{
    background-color: white;
    height: 400px;
}
#shopcollectionbottomimgindiv ul{
    list-style-type: none;
}
#shopcollectionimg1{
    width: 555px;
    height: 393px;
    position: relative;
    max-width: 555px;
    max-height: 393px;
    

}
#shopcollectionimg1 #img1a{
    width: 555px;
    height: 393px;
    max-width: 555px;
    max-height: 393px;
    overflow: hidden;

}
#shopcollectionimg1 #img1a img{
    width: 555px;
    height: 393px;
    object-fit: cover;
    max-width: 555px;
    max-height: 393px;

}

#shopcollectionimg1 img{
    transition: all 300ms ease-in-out;
    transform: scale(1);
    object-fit: cover;
    opacity: 1;
}
#img1hoveropacity{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 555px;
    height: 393px;
    opacity: 0;
    transition: all 300ms;
    overflow: hidden;
}

#shopcollectionimg1:hover img{
    object-fit: cover;
    transform: scale(1.2);
    
      
}
#shopcollectionimg1:hover #img1hoveropacity{
    opacity: 0.4;  
}
#shopcollectionimg1 #forman{
    transition: all 300ms;
}
#shopcollectionimg1:hover #forman{
    background-color: white;
    color: black;
}
#shopcollectionimg2{
    width: 555px;
    height: 393px;
    position: relative;
    overflow: hidden;

}
#shopcollectionimg2 #img2a{
    width: 555px;
    height: 393px;
    overflow: hidden;

}
#shopcollectionimg2 #img2a img{
    width: 555px;
    height: 393px;
    object-fit: cover;
    transition: all 300ms;
    transform: scale(1);

}
#shopcollectionimg2:hover  #img2a img{
    transform: scale(1.2);
}
#shopcollectionimg2:hover #img1hoveropacity2{
    opacity: 0.4;
}

#shopcollectionimg2:hover p{
    background-color: white;
    color: black;
}
#shopcollectionbottomimgindivul{
    display: flex;
    justify-content: space-around;
}
#onimgtext1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#onimgtext1 p{
    color: white;
    background-color: rgb(32, 32, 32);
    display: flex;
    opacity: 0.8;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    
}
#onimgtext1 a{
    color: white;
    
    display: flex;
    align-items: center;
    transition: all 300ms;
    padding: 10px 20px 10px 20px;
}
#onimgtext1 a:hover{
    color: #ff4545;
}
#onimgtext2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#onimgtext2 p{
    color: white;
    background-color: rgb(32, 32, 32);
    opacity: 0.8;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    transition: all 300ms;
}
#onimgtext2 a{
    color: white;
    
    display: flex;
    align-items: center;
    transition: all 300ms;
    padding: 10px 20px 10px 20px;
}
#onimgtext2 a:hover{
    color: #ff4545;
}
#img1hoveropacity2{
    position: absolute;
    top: 0;
    left: 0;
    width: 555px;
    height: 393px;
    background-color: black;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms;

}
#newproducts{
    height: 200px;
    background-color: #FFFFFF;
}
#innewproducts{
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#innewproducts h1{
    font-size: 40px;
    font-weight: 600;
    color: #222;
}
#innewproducts h3{
    font-weight: 500;
    margin-top: 20px;
    color: #828282;
}
.products{
    height: 450px;
    background-color: #FFFFFF;

}
.products ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.products ul li div{
    height: 400px;
    width: 250px;
    
}
.products ul li .productsimg img{
    height: 400px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.products ul li{
    height: 400px;
    width: 250px;
    border-radius: 10px;
}
.productsimg{
    position: relative;
}
.productsimg img{
    border:3px solid #828282;
}

.heart{
    position: absolute;
    top: 10px;
    right: -50px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    visibility: hidden;
    display: 0;
}
.other{
    position: absolute;
    top: 60px;
    right: -50px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    visibility: hidden;
    display: 0;
}
.basket{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart i{
    color: black;
    font-size: 20px;
    border-radius: 10px;
   
    
}
.other i{
    color: black;
    font-size: 20px;
    border-radius: 10px;
   
}
.basket i{
    color: black;
    font-size: 20px;
    border-radius: 10px;
}
.firstproductsli{
    position: relative;
}
.firstproductsli:hover .heart {
    right: 5px;
    visibility: visible;
    display: 1;
}
.firstproductsli:hover .other {
    transition: all 300ms;
    right: 5px;

}
.firstproductsli:hover .other {
    transition: all 800ms;
    visibility: visible;
    display: 1;
}
.heart:hover{
    background-color: #ff4545;
}
.heart:hover i{
    color: white;
    transition: all 1000ms;
}
.other:hover{
    background-color: #ff4545;
}
.other:hover i{
    transition: all 1000ms;
    color: white;
}
.basket:hover i{
    transition: all 1000ms;
    color: white;
}
.basket:hover{
    background-color: #ff4545;
}
/* ********************  */
#middlesectionlastview{
    height: 450px;
    
}
#imginthisdiv{
    background-color: #FFFFFF;
    height: 450px;
}
#imginthisdiv ul{
    padding-top: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#imginthisdiv ul .firstliinlast {
    width: 555px;
    height: 285px;
    position: relative;
}
#imginthisdiv ul .firstliinlast p{
    width: 555px;
    height: 285px;
    transition: all 300ms;
}
#imginthisdiv ul .firstliinlast p img{
    width: 555px;
    height: 285px;
    object-fit: cover;
    
    transition: all 300ms;
    transform: scale(1);
    overflow: hidden;
}
.firstliinlast{
    overflow: hidden;
    position: relative;
}
/* *********************** */
.liindiv{
    position: absolute;
    top: 35%;
    left: 50%;
    height: 100px;
}
.liindiv span{
    color: #222222;
    transition: all 300ms;
}
.liindiv h3{
    color: #222222;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    transition: all 300ms;
}
.liindiv a{
    color: #222222;
    transition: all 300ms;
}
.reng{
    background-color:#ff4545 ;
    position: absolute;
    top: 0;
    left: 0;
    width: 555px;
    height: 285px;
    opacity: 0;
    transition: all 300ms;
    overflow: hidden;
}

/***************************/
.firstliinlast:hover p {
    transform: scale(1.2);
}
.firstliinlast:hover .reng{
    opacity: 0.4;
}

.firstliinlast:hover .liindiv a{
    color: white;
}
.firstliinlast:hover .liindiv span{
    color: white;
}
.firstliinlast:hover .liindiv h3{
    color: white;
}
.firstliinlast .liindiv a:hover{
    color: black;
}
.othername{
    left: 60px;
}
/*****************************/
#brandsbossdiv{
    height: 200px;
    background-color: #FFFFFF;

}
#brandsinsdiv{
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#brandsinsdiv h1{
    font-size: 40px;
    font-weight: 600;
    color: #222;
}
#brandsinsdiv h3{
    font-weight: 500;
    margin-top: 20px;
    color: #828282;
}
/************ LASTTTTTTTTTTTTT ***************************/
#last{
    height: 400px;
    background-color: #222222;
}
#last ul{
    list-style-type: none;
}
#last ul ul{
    list-style-type: none;
}
#firstli ul li{
    display: flex;
    flex-direction: column;
}
#firstli ul li{
    margin: 15px 0px 15px 0px;
}
#firstli ul li a{
    color: white;
    font-size: 17px;
}
#secondli ul li{
    display: flex;
    flex-direction: column;
}
#secondli ul li{
    margin: 15px 0px 15px 0px;
}
#secondli ul li a{
    color: white;
    font-size: 17px;
}
#threethli ul li{
    display: flex;
    flex-direction: column;
}
#threethli ul li a{
    color: white;
    font-size: 17px;
}
#threethli ul li{
    margin: 15px 0px 15px 0px;
}
#fourthli ul li{
    display: flex;
    flex-direction: column;
}
#fourthli ul li{
    margin: 15px 0px 15px 0px;
}
#fourthli ul li a{
    color: white;
    font-size: 17px;
}
#fourthli ul li p{
    color: white;
}
#last ul h2{
    color: white;
    font-size: 25px;
}
#last ul h2{
    border-left: 4px solid orange;
    padding-left: 10px;
}
#last> ul {
    display: flex;
    justify-content: space-around;
    
}
#last> ul {
    padding-top: 60px;
}
#last ul h2{
    margin-bottom: 20px;
}
/***********************************/
#firstli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#secondli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#threethli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}
#fourthli ul li a:hover{
    transition: all 300ms;
    color: #ff4545;
}


